/* only works for the green button! still need for others and reviews all states!!!! */

.new-btn-holder .new-button{
	margin-top: 10px;
}

.panel-footer-new-customer .new-button{
	margin-top: 7px;
}

.new-button-no-promise{
	border-radius: 4px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0px;
	padding-bottom: 8px;
	cursor: pointer;
	display: inline-block;
	font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	max-width: 300px;
	min-width: 95px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.new-button{
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	max-width: 300px;
	min-width: 95px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 8px 10px;
	border: 0px;
}

.new-button-ok img{
	margin-right: auto;
	margin-left: auto;
	height: 18px;
	margin-top: -1px;
}

.new-button-ok, .new-button-ok:hover{
	color: #fff;
}

.new-button-ok {
	background-color: #bf1e62;
}

.new-button-ok-waiting,
.new-button-ok-waiting:hover,
.new-button-ok-waiting:focus,
.new-button-ok-waiting:active{
	background-color: #bf1e62;
}
}

.new-button-cancel:hover, .new-button-cancel-waiting{
    background-color: #000;
}

.new-button-force-payment-confirm-size {
	width: 89px;
	height: 36px;
}

.left-payment .btn-discount {
  font-size:inherit;
  padding: 2px 10px;
  margin-top: -2px;
  margin-right: -6px;
  min-width: 50px;
}