.new-col-1, .new-col-2, .new-col-3, .new-col-4, .new-col-5, .new-col-6, .new-col-7, .new-col-8, .new-col-9, .new-col-10, .new-col-11, .new-col-12, .new-col-13,
.new-col-14, .new-col-15, .new-col-16, .new-col-17, .new-col-18, .new-col-19, .new-col-20, .new-col-21, .new-col-22, .new-col-23, .new-col-24 {
    float:left;
    padding-left:5px;
    padding-right:5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;  
}

.new-col-1{width: 4.16%;}
.new-col-2{
    width: 8.333%;
    min-width: 1px;
}
.new-col-3{width: 12.5%;}
.new-col-4{width: 16.66659%;}
.new-col-5{width: 20.834%;}
.new-col-6{width: 25%;}
.new-col-7{width: 29.1667%;}
.new-col-8{width: 33.334%;}
.new-col-9{width: 37.5%;}
.new-col-10{width: 41.667%;}
.new-col-11{width: 45.8334%;}
.new-col-12{width: 50%;}
.new-col-13{width: 54.1667%;}
.new-col-14{width: 58.334%;}
.new-col-16 {width: 66.667%;}
.new-col-18{width: 75%;}
.new-col-20{width: 83.334%;}
.new-col-21{width: 87.36%;}
.new-col-22{width: 91.52%;}
.new-col-24{width: 100%;}

.currency{
    padding-right: 12px;
    text-align: right;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-vertical-middle{
    line-height: 40px;
 }
 
 .product-name{}
 .product-name small{
    color: #999;
    float: left;
    display: inline-block;
 }
 .product-name img{
    float: left;
    margin-right: 10px;
    height: 40px;
 }
 .product-name span{
    float: left;
    display: inline-block;
 }