.new-client-filter{
    float: left;
    display: block;
}

.new-body-summary{
    background-color: #c8c8c8;
margin-top: 3px;
margin-bottom: 3px;
height: 40px;
border-radius:4px;
line-height: 40px;
}
.pagpop .new-body-summary {
    font-weight:bold;
}

.new-client-filter .text-over{
    margin-top: 7px;
}
.new-client-filter input{
    width: 350px;
}
.pagpop-line{
    height: 40px;
    line-height: 40px;
}
.pagpop .new-scrollpanel{
    height: calc(100% - 245px);
}

.payment-receivable-fields .half-row {
    width:50%!important;
}
.payment-receivable-fields .half-row .new-col-4 {line-height:40px;}

.payment-on-cuff-part{
 
 }
 
 .payment-on-cuff-part .new-body-header{
   background-color: #c8c8c8;
 
 }
 .payment-receivable-fields{
   margin-top: 10px;
 }
 .payment-on-cuff-part .installment{
   border:1px solid #c8c8c8;
   float: left;
   border-radius: 4px;
   height: 46px;
 }
 .payment-on-cuff-part .installment input{
   cursor: pointer;
   height: 35px;
   border-radius: 4px;
   margin-top: 4px;
   box-sizing: border-box;
   background-color: #f2f2f2;
   border: 1px solid #f2f2f2;
   width: 100%;
   -webkit-appearance: caret;
 }
 .payment-on-cuff-part .installment .installment-number{
   height: 100%;
   line-height: 46px;
 }
 .payment-on-cuff-part .half-row{
   border: none;
 }
 .payment-on-cuff-part .left-payment  .installments-header{
   color: rgb(51, 51, 51);
   font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
   font-size: 14px;
   font-weight: bold;
   height: 20px;
   background-color: #fff;
   line-height: 20px;
   margin-top: 30px;
 }
 .row-fluid .installments-header{
   margin-top: 10px;
 }
 .installments-header .half-row{
   float: left;
 }
 .installments-header .currency{
   padding-right: 22px;
 }
 


.new-scroll-area{
    height: 380px;
    overflow-y: scroll;
    overflow-x: none; 
 }

 .payment-receivable-fields .half-row {
     width:50%!important;
  }

  .payment-receivable-fields .half-row .new-col-4 {line-height:40px;}
 /* TRANSFERED TO new-numpad.css
 .new-numpad{
    width: 290px;
     height: 290px;
     background: #fff;
     float: left;
     padding: 5px;
     margin: 23px 0 40px 0;
     top: 218px;
     z-index: 11;
     border-radius: 4px;
 }
 .new-numpad .l1{
    display: block;
    margin: 0 0 6px 2px;
 }
 .new-numpad .l2{
    display: block;
    margin: 0 0 6px 2px;
 }
 .new-numpad .l3 {
    display: block;
    margin: 0 0 6px 2px;
    width: 216px;
    float: left;
 }
 .new-numpad .btn-ok {
    float: right;
    display: block;
    margin: 0 5px 0 0;
 }
 .new-numpad .l4 {
    display: block;
    margin: 0 0 6px 2px;
 }*/
 
.new-page{
    height: calc(100% - 103px);
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    width: 970px;
    display: block;
    position: relative;
    margin: -9px 10px 0 10px;
    padding: 10px 15px 0 15px;
}

.new-header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.new-header h2{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin:0px;
    display:block;
    float: left;

}
.new-header h3{
    font-size: 16px;
    color: #333;
    margin:0px;
    float: left;
    display:block;
    font-weight: normal;
}



.new-body{
    margin: 0px 10px;
}


.new-page .select2{
    float:right;
}

.new-page .inline-checkbox{
    width:300px;
    float:left;
}
.inline-checkbox{
    margin-top:32px;
}

.new-btn-holder button{
    margin-left: 10px;
    margin-top:10px;
}
/* TRANSFERED to new-calendar.css
.new-calendar{
    margin-bottom: 10px;
    margin-right: 30px;
    float:left;
    display:block;
    
}

.new-calendar label{
    display: inline;
}

.new-calendar .text{
    display: block;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}


.new-calendar label img{
    margin-top: 3px;
    vertical-align: top;
}*/

.new-body-header{
    background-color: rgb(51, 51, 51);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    width: 100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.new-body-row{
    border-bottom: 1px rgb(204, 204, 204) dotted;
    padding: 4px 0px;
    width: 100%;
    font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;
    display: inline-table;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.new-body-row input[type="checkbox"]{
    margin:0px;
}

/* TRAANSFERED TO THE new-grid.css
.new-col-1, .new-col-2, .new-col-3, .new-col-4, .new-col-5, .new-col-6, .new-col-7, .new-col-8, .new-col-9, .new-col-10, .new-col-11, .new-col-12, .new-col-13,
.new-col-14, .new-col-15, .new-col-16, .new-col-17, .new-col-18, .new-col-19, .new-col-20, .new-col-21, .new-col-22, .new-col-23, .new-col-24 {
    float:left;
    padding-left:5px;
    padding-right:5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;  
}

.new-col-1{width: 4.16%;}
.new-col-2{
    width: 8.333%;
    min-width: 1px;
}
.new-col-3{width: 12.5%;}
.new-col-4{width: 16.66659%;}
.new-col-5{width: 20.334%;}
.new-col-6{width: 25%;}
.new-col-7{width: 29.1667%;}
.new-col-8{width: 33.334%;}
.new-col-9{width: 37.5%;}
.new-col-10{width: 41.667%;}
.new-col-11{width: 45.8334%;}
.new-col-12{width: 50%;}
.new-col-13{width: 54.1667%;}
.new-col-14{width: 58.334%;}
.new-col-16 {width: 66.667%;}
.new-col-18{width: 75%;}
.new-col-24{width: 100%;}

.currency{
    padding-right: 12px;
    text-align: right;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-vertical-middle{
    line-height: 40px;
 }
 
 .product-name{}
 .product-name small{
    color: #999;
    float: left;
    display: inline-block;
 }
 .product-name img{
    float: left;
    margin-right: 10px;
    height: 40px;
 }
 .product-name span{
    float: left;
    display: inline-block;
 }*/

/* green highlight/focus */
/* verify "input:focus, .focus" no global.css */
textarea:focus,
input[type="textarea"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color:#bf1e62;
}
textarea:focus, input[type="textarea"]:focus {
    outline:none;
}
.focused {
    border-color:#acdf7b;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px #bf1e62;
}
/* remove ALL outlines (glow effects and etc) in buttons */
button, .btn {
    outline:none!important;
}

/* cadastro de nova consultora - registration-new-consultant */
.registration-consultant .select-full-width {
    width:100%;
}

/* TRANSFERED TO third-parties.css
.third-parties{
    
}
.third-parties input {
    width:100%;
    padding: 10px;
    height: 36px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.third-parties .new-body-row .btn-group {
    margin-top:-4px;
    margin-left:20px;
}
.third-parties .new-scrollpanel {
    height:calc(100% - 170px);
}
.third-parties .new-scrollpanel .new-col-8 {
    text-overflow:ellipsis;
}
.third-parties .new-scrollpanel .text-center {
    padding-left:12px;
}
*/