#sacred .sacred-receivable-check-page .grid{
    height: calc(100% - 48px);
}

#sacred .sacred-receivable-check-page .without-buttons{
    height: calc(100% - -1px);
}

#sacred .sacred-receivable-check-page .grid-scroll{
    height: calc(100% - 40px);
}