/*
* sacred-reset.css is the old god that make the rebirth possible. It is resposable for eliminate the remaining styles that survived.
* (it resets all that #sacred did not purge)
* this file needs to be below all other css's and before the sacred ones
*/

#sacred .container {
  width: auto;
  position: static;
  left: auto;
}

#sacred input{
	margin-bottom:0;
}


/*
* the importants goes here, but its should be duplicated at its regular place. 
*/

/*  linha 67 sacred-reset.css */
#sacred .btn-option {
	padding:8px 30px!important; /*afetado por outros css's - sem important, não funciona*/
}


/* linha 94 - 100 sacred-form.css */
#sacred .date-day, #sacred .date-month {
	width:65px!important;
}
#sacred .date-year {
	width:95px!important;
}
/* linha 106-112 sacred-form.css */
#sacred .limit-date-month {
	width:75px!important;
}
#sacred .limit-date-year {
	width:114px!important;
}

/* linha 36 sacred-products-delivery.css */
#sacred .calendar-header-test .dropdown-menu{
	left: -138px !important;
}

/*box-sizing border-box shold be applied to all application. But, while infidels still exists, this gambi needs to exist. similar case #sacred .page * { box-sizing: border-box;} sacred-structure */
#sacred .modal-body,
#sacred .modal-body *{
	box-sizing: border-box;
}