/*
* sacred-grid.css is the priest of the grids. It is resposable for keeping the grids (some believers call then tables) on track.
* do not confuse with the structure! (sacred-structure.css is responsable for the boostrap alike organization)
* (this stylesheet have all the styles for the tables/grids.)
*/

#sacred .grid{
	height: 100%;
	margin-bottom: 10px;
}

#sacred .grid .grid-summary,
#sacred .grid .grid-header,
#sacred .grid .grid-header{
	border-radius: 4px;
	height: 40px;
	line-height: 40px;
}
#sacred .grid .grid-header{
	color: #fff;
	background-color: #333;
}
#sacred .grid .grid-summary{
	background-color: #C8C8C8;
	color:#333;
	margin-top: 1px;
	font-weight:bold;
}
#sacred .grid .grid-item{
	border-bottom: 1px #ccc dotted;
	min-height: 40px; 
	padding-top: 2px;
	padding-bottom: 2px;
}

#sacred .grid .grid-header .row>:first-child,
#sacred .grid .grid-summary .row>:first-child,
#sacred .grid .grid-item .row>:first-child {
	padding-left: 20px;
}

#sacred .grid .grid-header .row>:last-child,
#sacred .grid .grid-summary .row>:last-child,
#sacred .grid .grid-item .row>:last-child{
	padding-right: 20px;
}

#sacred .grid .grid-scroll{
	overflow-x:hidden;
	overflow-y:scroll;
}



/*
 * Decorators!
 * all this classes should be explained!
 * all classes should be espefic and stricted to one single context
 */

/* line decorator
 * this class makes the line align with the 2px scroll. at ipad this should not have any effect (ipad-only.css).
 */
 #sacred .grid .grid-header,
 #sacred .grid .grid-summary{
 	padding-right: 2px;
 }

/* column decorator
 * this class makes the commas be aligned to the right!
 */
 #sacred .grid .currency{
 	text-align: right;
 	padding-right: 20px;
 }

/* column decorator
 * this class just make the column item centered
 */
 #sacred .grid .text-center{
 	text-align: center;
 }

 /* column decorator
 * this class just make the column item right aligned
 */
 #sacred .grid .text-right{
 	text-align: right;
 }

  /* column decorator
 * this class just make the column item name be ellipsed
 */
 #sacred .grid .name-cutter{
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
 }

/* line decorator
 * this class just make the grid-item content be vertical centered.
 */
 #sacred .grid .grid-item.single-line{
 	line-height: 36px;
 	min-height: 40px;
 	height: 40px;
 }
 #sacred .grid .grid-item.mix-line{
 	line-height: 40px;
 	height: 46px;
 }
 #sacred .grid .mix-line .row{
 	height: 40px;
 }
  #sacred .grid .mix-line .row div{
 	height: 40px;
 }

 #sacred .grid .mix-line .input-qty{
 	height: 40px;
 	width: 110px;
 	float: none;
 	margin: auto;
 	padding-top: 2px;  	
 }
 #sacred .grid .mix-line .input-qty{
 	height: 40px;
 	width: 110px;
 	float: none;
 	margin: auto;
 	padding-top: 2px;  	
 }

 #sacred .grid .mix-line .input-qty .ic-arrow-left{
 	float: left;
 	height: 40px;
 	display: block; 	
 }
 #sacred .grid .mix-line .input-qty .ic-arrow-right{
 	float: left;
 	height: 40px;
 	display: block; 	
 }
 #sacred .grid .mix-line .input-qty .label-input{
 	float: left;
 	height: 40px;
 	display: block; 	
 }

  #sacred .grid .mix-line .input-qty img{
  	vertical-align: middle;
  }

 #sacred .grid .mix-line .input-qty .label-input .qty{
 	width: 35px;
 	height: 40px;
 	text-align: center;
 	font-size: 20px;
 	display: inline-block;
 	line-height: 35px;
 	color: #555555;
 	vertical-align: middle;
 }



/* line decorator
 * this class just make the grid-item content be vertical centered.
 */
 #sacred .grid .grid-item.clicable{
 	cursor:pointer;
 }

 #sacred .grid .product-name{
 	line-height: 20px; /* this need to be setted because of the mix-line behaviour*/

 }
 #sacred .grid .product-name small{
 	color: #999;
 	float: none;
 	display: block;
 }
 #sacred .grid .product-name span{
 	display: block;
 	float: none;
 }