@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    
    input[type="text"]{
    	color:#000;
    }
    input[disabled]{
    	opacity: 1;
    }

    .modal-backdrop{
        height: 768px;
    }
}