/*
* sacred-form.css is the priest of the information. It listens every one that needs.
* (this stylesheet have all the styles for make a form wort with a generic page)
*/

#sacred .form .row{
	margin-bottom:10px;
}
#sacred .form input[type="text"],
#sacred .form input[type="password"]{
	width:100%;
	min-height:30px;
}

#sacred .form .inline-date input[type="text"]{
	width: calc(100% - 40px);
	float: left;
}
#sacred .form .inline-date img{
	float: left;
	margin-top: 3px;
	margin-left: 5px;
}

#sacred .form .inline-label{
	min-height:30px;
	line-height: 30px;
}



#sacred .input-with-buttom-right{

}

#sacred .form .form-line .input-with-buttom-right input[type="text"],
#sacred .form .form-line .input-with-buttom-right input[type="email"]
{
	width: calc(100% - 30px);
	float: left;
	border-radius:  4px 0 0 4px ;
}

#sacred .form .form-line .input-with-buttom-right .add-on{
	float: left;
	border-radius: 0 4px 4px 0;
	width: 30px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	text-shadow: #fff 0px 1px 0px;
	background-color: rgb(238, 238, 238);
	height: 30px;
	margin-left: -1px;
	text-align: center;
	line-height: 27px;
}


#sacred input.input-header{
	height: 30px;
	width: 100%;
}

#sacred .without-label{
	margin-top:19px;
}

#sacred .labeless-force-align{
	margin-top: 20px;
}

#sacred .checkbox-line {
	margin-top:23px;
}

#sacred .checkbox-line input {
	vertical-align:0;
}

#sacred .grid-body input[type=checkbox] {
	margin-top:-2px;
}

/* for form pages */

#sacred hr {
	width:100%;
	margin:10px 0;
	float:left;
}

#sacred .form {
	height:calc(100% + 38px);
	/*overflow:hidden;*/
	/*overflow-y:scroll;*/
}

#sacred .form .form-line {
	margin-bottom:10px;
}

#sacred .form .buttons-holder .button-green {
	margin-right:5px;
}

#sacred .form .form-line input[type="text"],
#sacred .form .form-line input[type="password"],
#sacred .form .form-line .select2-container {
	width:100%;
	min-height:30px;
}

#sacred .form .form-line select{
	width:100%;
	height:30px;	
}



#sacred .date-day, #sacred .date-month, #date-year {
	display:block;
	float:left;	
}
#sacred .date-day, #sacred .date-month {
	width:65px;
	margin-right:5px;
}
#sacred .date-year {
	width:95px;
}

#sacred .limit-date-month, #limit-date-year {
	display:block;
	float:left;	
}
#sacred .limit-date-month {
	width:75px;
	margin-right:5px;
}
#sacred .limit-date-year {
	width:114px;
}

#sacred .form .form-line input{
	height: 30px;
	width: 100%;
}