/*
* sacred-calendar.css is a soldier! It is resposable for the dates. 
* (this stylesheet have all the styles that is needed to make a datepicker)
*/

#sacred .calendar,
#sacred .calendar-label-left{
  margin-right: 30px;
  float: left;
}

#sacred .calendar label,
#sacred .calendar-label-left label{
  display: inline;
}

#sacred .calendar .text,
#sacred .calendar-label-left .text{
  display: block;
  float: left;
}

#sacred .calendar input,
#sacred .calendar-label-left input{
  height: 30px;
  line-height: 30px;
  width: 95px;
  text-align: center;
  cursor: pointer;
  margin-bottom:0; 
  border: 1px solid #E0E0e0;
}

#sacred .calendar label img,
#sacred .calendar-label-left label img{
  margin-top: 3px;
  vertical-align: top;
}

#sacred .calendar .without-label img{
  margin-top: 22px;
}

#sacred .calendar .text-over,
#sacred .calendar-label-left .text-over{
  display: block;
}

#sacred .calendar-label-left .text-over{
  margin-top: 5px;
  margin-right: 3px;
  float: left;
}
#sacred .calendar-label-left input{
  float: left;

}
#sacred .calendar-label-left label{
  float: left;
  margin-left: 5px;
}

#sacred .calendar-label-left.margin-0{
  margin-right: 0px;
}

/* when we change the visualization mode, also the box width is changed */
/* old versions of calendars must receive this class too, this way ".calendar" is necessary */

.calendar .dropdown-menu li table ,
#sacred-calendar .dropdown-menu li table {min-width:290px;}