<div id="sacred">
	<div class="container">

		<div class="page sacred-third-parties-page">

			<div class="page-header">
				<div class="row">
					<div class="col-10">
						<div class="title">Listagem de Produtos</div>
					</div>
				</div>
			</div>

			<div class="page-body">
				<div class="content">
					<div class="content-header">
						<div class="row">
							<div class="col-6">
								<input type="text" class="input-header" placeholder="Filtrar por Nome" ng-model="searchProduct" customer-name>
							</div>
							<div class="col-6">
								<button type="submit" class="button-green inline-button" ng-click="productAdd()" >Novo Produto</button>
							</div>
						</div>
					</div>
					<div class="content-body">
						<div class="grid">
							<div class="grid-header">
								<div class="row">
									<div class="col-10">Nome</div>
									<div class="col-6">Se&ccedil;&atilde;o</div>
									<div class="col-4">Linha</div>
									<div class="col-4">Pre&ccedil;o</div>
								</div>
							</div>

							<div class="grid-body grid-scroll">
								<div class="grid-item single-line clicable" ng-repeat="product in products | filter:searchProduct | limitTo:20">
									<div class="row">
										<div class="col-10">{{product.title}}</div>
										<div class="col-6">{{product.session}}</div>
										<div class="col-4">{{product.line}}</div>
										<div class="col-4">{{product.price}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>