<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			
			<div class="master-container">
				<ul class="breadcrumb">
					<li class="active">Listagem de Produtos</li>
				</ul>
			</div>

			<div><div style="float: left; position: relative; padding-right: 12px">
				<input type="text" class="form-control" style="width:300px" placeholder="Filtrar por Nome" ng-model="searchProduct" customer-name>
			</div><div >	
				<button type="submit" class="btn btn-default"  ng-click="productAdd()">Novo Produto</button>
			</div></div>

			<div class="breadcrumb" style="margin-top: 30px; margin-bottom: 0px">
				<Label style="padding-right: 150px;">Nome</Label>
				<Label style="padding-right: 90px;">Se&ccedil;&atilde;o</Label>
				<Label style="padding-right: 70px;">Linha</Label>
				<Label>Pre&ccedil;o</Label>
			</div>

			<div ng-repeat="product in products | filter:searchProduct | limitTo:20">
				<div style="float: left; position: relative; width: 193px; margin-left: 13px">{{product.title}}</div>
				<div style="float: left; position: relative; width: 134px; margin-left: 5px">{{product.session}}</div>
				<div style="float: left; position: relative; width: 110px; margin-left: 5px">{{product.line}}</div>
				<div style="">{{product.price}}</div>
			</div>
		</div>
	</div>
</div>