

<div class="new-header row-fluid">
	<div class="span12">
		<h2>
			Cadastro Produto
			</h3>
	</div>
</div>


<div class="new-body">
	<div class="new-section">

		<div class="row-fluid">
			<div class="new-col-10">
				<div class="control-group">
					<label class="control-label">Linha:</label>
						<input name="linha" class="input-block-level" type="text" ng-model="linha" required>
				</div>
			</div>

			<div class="new-col-10">
				<div class="control-group">
				<label class="control-label">Se&ccedil;&atilde;o:</label>
						<input name="secao" class="input-block-level" type="text" ng-model="secao" required>
				</div>
			</div>
		</div>

		<!-- <h4>T&iacute;tulo:</h4>
		<p>
			<input name="titulo" class="input-block-level" type="text"
				ng-model="titulo" required>
		</p>

		<h4>Descri&ccedil;&atilde;o:</h4>
		<p>
			<input name="descricao" class="input-block-level" type="text"
				ng-model="descricao" required>
		</p>

		<h4>Pontos:</h4>
		<p>
			<input name="pontos" class="input-block-level" type="number"
				ng-model="pontos" required>
		</p>

		<h4>Imagem:</h4>
		<p>
			<input name="imagem" class="input-block-level" type="text"
				ng-model="imagem" required>
		</p>

		<h4>Pre&ccedil;o:</h4>
		<p>
			<input name="preco" class="input-block-level" type="url"
				ng-model="preco" required>
		</p>

 --<!-- >

		<h4>SKU:</h4>
		<p>HTML5 Boilerplate is a professional front-end template for
			building fast, robust, and adaptable web apps or sites.</p>

		<h4>Cor:</h4>
		<p>HTML5 Boilerplate is a professional front-end template for
			building fast, robust, and adaptable web apps or sites.</p>

		<h4>Preço:</h4>
		<p>AngularJS is a toolset for building the framework most suited
			to your application development.</p> -->
	</div>
</div>




<div class="footer">
	<p>
		<span class="glyphicon glyphicon-heart"></span> from the Yeoman team
	</p>
</div>
